// -------------------------------------
//   Utilities
// -------------------------------------

// ----- Adds responsive breakpoints. ----- //
@mixin breakpoint($width) {
  @media (max-width: $width) {
    @content;
  }
}

// ----- radius ----- //
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// ----- box-sizing ----- //
@mixin box-sizing($content-box) {
   -webkit-box-sizing: $content-box;
       -moz-box-sizing: $content-box;
            box-sizing: $content-box;
}

// ----- Adds accessibility pseudo selectors to hover states. ----- //
@mixin attention() {
  &:hover,
  &:active,
  &:focus {
    @content;
  }
}

// Rem sizing mixin with px fallback.
@mixin rem-sizing($property, $size) {
  #{$property}: $size * 10px;
  #{$property}: $size * 1rem;
}

// ----- Clearing -----




